table.tableau {
	border-collapse: collapse;
	empty-cells: show;
}
td {
	border-width: thin;
	border-style: solid;
	text-align: center
}
td.constraint {
	font-variant: small-caps;
	padding-left: .3cm;
	padding-right: .3cm;
}
td.num {
	border-right-style: none;
}
td.win {
	padding-left: .1cm;
	padding-right: .1cm;
	border-right-style: none;
	border-left-style: none;
}
td.input {
	text-align: right;
	padding-right: .2cm
}
td.cand {
	text-align: left;
	border-left-style: none;
	padding-right: .2cm
}
td.elim {
	background-color: #D8D8D8;
	text-align: center
}
tr.head {
	border-bottom-style: double;
	}
span.param {
	font-variant: normal
}
